//product-item

.ProductItem__ImageWrapper {
  border: 2px solid #D6D6D6;
}

.ProductItem__Title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 16px;
}

.ProductItem__Price {
  color: #005CB8;
  font-size: 16px;
  letter-spacing: 0;
}